<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payline>
            <general>
                <merchant_id>MERCHANT_ID</merchant_id>
                <environment>HOMO</environment>
                <token_usage>1</token_usage>
                <disable_failover>0</disable_failover>
                <user_error_message_type1>Error with bank transaction process</user_error_message_type1>
                <user_error_message_type2>Error with transaction process</user_error_message_type2>
                <user_error_message_type3>Error with 3DSecure process</user_error_message_type3>
                <user_error_message_type4>Error with payment validation rules</user_error_message_type4>
                <user_error_message_default>Error when processing payment</user_error_message_default>
                <debug>500</debug>
            </general>
            <common_default>
                <deliverytime>2</deliverytime>
                <deliverymode>4</deliverymode>
                <delivery_expected_delay>3</delivery_expected_delay>
                <prefix>4</prefix>
                <category>4</category>
            </common_default>
            <payline_common>
                <return_payment_refused>1</return_payment_refused>
            </payline_common>
        </payline>
        <payment>
            <payline_web_payment_cpt>
                <active>0</active>
                <model>Monext\Payline\Model\Method\WebPayment\Cpt</model>
                <order_status>payline_captured</order_status>
                <redirect_3ds>1</redirect_3ds>
            </payline_web_payment_cpt>
            <payline_web_payment_nx>
                <active>0</active>
                <model>Monext\Payline\Model\Method\WebPayment\Nx</model>
                <payment_action>101</payment_action> <!-- Force a auth + capture -->
                <billing_occurrences>2</billing_occurrences>
                <billing_cycle>10</billing_cycle>
                <order_status>payline_captured</order_status>
                <cost_type>0</cost_type>
                <cost_amount>0</cost_amount>
                <active_amount_min>0</active_amount_min>
            </payline_web_payment_nx>
        </payment>
    </default>
</config>
