<table class="payline-contracts_table">
    <tbody>
    <!-- ko foreach: getContracts() -->
        <tr data-bind="css: { 'selected': $parent.isContractChecked() === id }">
            <td>
                <input type="radio"
                    name="payment[payline_contract]"
                    class="radio"
                    data-bind="attr: {'id': id}, value: id, checked: $parent.isContractChecked"/>
                <label data-bind="attr: {'for': id}" class="label"><span data-bind="text: label"></span></label>
            </td>
            <td>
                <img data-bind="attr: {'src': logo}"/>
            </td>
        </tr>
    <!-- /ko -->
    </tbody>
</table>
